.mainPic {
    width: 90%;

}

.tech {
    height: 50px;
}

.bio {
    width: 80%;
    position: relative;
    left: 10%;
}
.paperIcon {
    font-size: 60px !important;
}
.paperCenter {
    background: rgb(219, 219, 219) !important;
}
.paper {
    background: #7eb8fa !important;
}
.parallax {
    height: 30vh;
    background-color: #1b62b355;
}

@media only screen and (max-width: 992px) {
    .mainPic {
      width: auto;
      height: 90%;
    }
  }
  